@import url('https://fonts.googleapis.com/css?family=Rubik|Lato');

:root {
--primary-color: #f06543;
--secondary-color: #313638;
--text-dark: #222222;
--text-light: #ebebeb;
--primary-font: "Rubik", Helvetica,sans-serif;
--secondary-font: "Kalam";
}

*, *::before, *::after {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  font: var(--primary-font);
}

.hidden {
  display: none;
}

.active, .accordion:hover {
  background-color: #ccc;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h3 {
  padding: 0 1em;
  font-weight: bold;
  font-size: 1.25em;
}

header {
  background-color: var(--primary-color);
  display: flex;
}

.logo-link {
  padding: 5px;
  min-width: 130px;
  max-width: 20%;
}

.logo-img {
  width: 100%;
  max-width: 200px;
  border: 2px solid var(--secondary-color);
}

.nav-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0;
  padding-right: 15%;
}

.page-title {
  margin: auto;
  font-size: 1.8em;
}

nav {
  display: flex;
  
}

nav a {
  text-decoration: none;
  color: var(--text-dark);
  background-color: var(--primary-color);
  padding: 0.3em 1em;
  font-size: 1.3em;
  font-weight: bold;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.current-tab {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

main {
  padding: 1em 10%;
  flex-grow: 1;
  max-width: 1300px;
  margin: 0 auto;
}

.text-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-image {
  max-width: 200px;
  height: 150px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--secondary-color);
}

.home-text {
  padding: 1em;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.site-plan-link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.site-plan-link:hover {
  color: var(--text-light);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0.5em 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

.tutorial-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: small;
}

.tutorial-paragraph {
  padding-top: 0;
}

label {
  font-size: 2em;
  display: block;
  margin: 0.3em;
}

input {
  min-width: 80%;
  font-size: 1em;
}

.case-button {
  font-size: 1em;
}

.error-message {
  color: red;
  margin-top: 0;
  max-width: 80%;
}

.solution-list {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 25vh;
}

.solver-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}















@media screen and (min-width: 600px) {
  .text-image-container {
    flex-direction: row;
  }

  .image-right {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 800px) {
    .solver-main {
    grid-template-columns: 1fr 1fr;
  }
}