@import url('https://fonts.googleapis.com/css?family=Rubik|Lato');

*, *::before, *::after {
  box-sizing: border-box;
  max-width: 100%;
}

:root {
--primary-color: #f06543;
--secondary-color: #313638;
--text-dark: #222222;
--text-light: #ebebeb;
--primary-font: "Rubik", Helvetica,sans-serif;
--secondary-font: "Kalam";
}

.hidden {
  display: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--primary-color);
  display: flex;
}

.logo-link {
  padding: 5px;
}

.logo-img {
  max-width: 200px;
  border: 2px solid var(--secondary-color);
}

.nav-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0;
  padding-right: 15%;
}

.page-title {
  margin: auto;
  font-size: 2.25em;
}

nav {
  display: flex;
  
}

nav a {
  text-decoration: none;
  color: var(--text-dark);
  background-color: var(--primary-color);
  padding: 0.5em 2em;
  font-size: 1.5em;
  font-weight: bold;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.current-tab {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

main {
  padding: 2em;
  flex-grow: 1;
  max-width: 1000px;
  margin: 0 auto;
}

.text-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-image {
  max-width: 200px;
  height: 150px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--secondary-color);
}

.home-text {
  padding: 1em;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.site-plan-link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.site-plan-link:hover {
  color: var(--text-light);
}

label {
  font-size: 2em;
  display: block;
  margin: 0.3em;
}

input {
  min-width: 80%;
  font-size: 1em;
}

.case-button {
  font-size: 1em;
}

.error-message {
  color: red;
  margin-top: 0;
  max-width: 80%;
}

.solution-list {
  max-height: 40vh;
  overflow-y: auto;
}
















@media screen and (min-width: 600px) {
  .text-image-container {
    flex-direction: row;
  }

  .image-right {
    flex-direction: row-reverse;
  }
}